<div class="container">
  <div class="row">
    <div class="col-md-2">
     
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          Task Manager App 
          <button type="button" class="btn btn-success" style='margin-right:16px' *ngIf="!isShow" (click)="ShowTask()">Add</button>
          <button type="button" class="btn btn-success" style='margin-right:16px' *ngIf="isShow" (click)="ShowTask()">Close</button>
        </div>
        <div class="card-body">
          <form (ngSubmit)="SaveTask()" *ngIf="isShow">
            <div class="row mb-3 form-group">
              <label for="taskName"  class="col-sm-2 col-form-label">Task</label><br>
              <div class="col-sm-10">
                <input class="form-control" type="text" id="taskName" name="taskName" [(ngModel)]="taskName" placeholder="add task">
              </div>              
            </div>

            <div class="row mb-3 form-group">
              <label for="taskDate">Date & Time</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" id="taskDate" name="taskDate" [(ngModel)]="taskDate" placeholder="add date & time">
              </div>                
            </div>

            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary" style='margin-right:16px'>Save Task</button>
                    <button type="button" class="btn btn-info" style='margin-right:16px' (click)="Reset()">Reset</button>
                </div>
            </div>
        </form>
          <div><br>
            <div class="card">
              <div class="card-header">
                Number of Tasks: {{ taskList.length }}
              </div>
              <div class="card-body" *ngIf="taskList.length > 0">
                <ul class="list-group">
                  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let task of taskList">
                    {{task.taskName}}
                    <br>{{task.taskDate}}
                    <span class="badge badge-primary badge-pill"><button (click)="Edit(task.id)">Edit</button></span>
                    <span class="badge badge-primary badge-pill"><button (click)="DeleteTask(task.id)">Delete</button></span>
                  </li>              
                </ul>
              </div>
              <div class="card-body" *ngIf="taskList.length == 0">
                No Task Found!
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      
    </div>
  </div>
</div>

<br><br>

<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <h3 *ngIf="responseMessage">Task Centre Message</h3>
      <p>{{responseMessage}}</p>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>




